body{
  margin:0px;
  height: auto;
  font-family: 'Philosopher', sans-serif;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50px;

}

#myBtn:hover {
  background-color: #555;
}



/* Menu link */

.sidebar {
  margin-top: 0;
  padding-top: 80px;
  width: 15%;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding:24px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.sidebar a.active {
  color: black;
  font-weight: bold;
}

.sidebar a:hover:not(.active) {
  color: black;
  opacity:20%;
}



a:link{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
  color:grey;
}

a:visited{
  text-decoration: none;
  color:black;
}

a:active{
  text-decoration: none;
  color:black;
}

.menucollapsed
{
  text-decoration: none;
  position: fixed;
  display: inline-block;
  width: 200px;
  height: auto;
  font-size: 24px;
  padding: 130px 80px 130px 80px;
  overflow: auto;
  background-color:white;
  font-family: 'Philosopher', sans-serif;
  clip: rect(0px,60px,200px,0px);
}

/* Workspace edits */

.workspace {
  width:80%;
  height:auto;
  position:relative;
  float: right;
  text-align: left;
}

.heading-home{
  width: 100%;
  /* padding:200px 0 200px 0; */
  position: relative;
  display: inline-block;
}
.vl {
  border-left: 3px solid black;
  height:140px;
  width:5px;
  position: absolute;
  opacity: 0%;
}

.hl {
  width:92%;
  height:2px;
  background: black;
  opacity: 10%;
  height: 2px;
}

.name-head{
  width: auto;
  position: relative;
  margin-top:50px;
  left: 0;
  bottom:10px;

}

.heading-name {
  width:auto;
  font-size: 24px;
  line-height: 30px;
  margin:10px 0;
  position: relative;

}

/* About */
.experience-list{
  padding: 5px 0;
  line-height: auto;

}

.education-list{
  margin-top:30px;
}


/* Portfolio */



.button-interaction{

  position:relative;
  margin:30px 35% 30px 35%;
  width: auto;
  padding:10px 60px;
  background-color: black;
  color:white;
  stroke:none;
  font-weight: bold;
  cursor:pointer;
  text-align: center;
}

.image{
  width:250px;
  margin-bottom:20px;
  height: auto;
  border-radius:10px;
}

.bannerimages{
  width:100%;
  padding-bottom:20px;
  height: auto;
}

.portfolio-hl{
  border-left: 250px solid black;
  opacity: 10%;
  height: 1px;
}


.portfoliocards{
  margin:30px 0 30px 0;
}

.portfoliocard1{
  margin:0px 10px 0px 10px;
}

.portfoliocard1{
  width:250px;
  height:auto;
  padding:20px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #717171;

}

.portfolio-text{
  font-size: 24px;
  margin-bottom:5px;
  line-height: 30px;
  text-align: left;
}

.portfolio-description {
  font-size: 16px;
  line-height: 24px;
  text-align:left;

}

/* Contact */

.contact{
  /* margin:10px 0 10px 0; */
}

.contact-list{
  padding:20px 0 20px 0;
  display:inline-block;
}

.contactimage{
  width:3;
  height:3;
}

.contacttext{
  position: relative;
}

.contact-listview{
  float: left;
  margin: 0 10px 0 10px;
}

/* location */
.location1{
  margin:-20px 0 10px 0;
  line-height: 30px;
}

.location-list{
  line-height: 20PX;
}

/* Socialmedia */

.socialmedia{
  margin:50px 0 0 0;
}

.socialmedia-list{
  padding:20px 0 20px 0;
  display:inline-block;
}

.socialmediaimage{
  width:36px;
  height:36px;
}

.socialmediatext{
  position: relative;
}

.socialmedia-listview{
  float: left;
  margin: 0 20px 0 20px;
}



/* Overall Mark */
.overall{

}

.iconlist{
  width:auto;
  display: inline;
}

.icon{
  width:16px;
  height:16px;
}

.ratingtext{
  display: inline-block;
  margin:11px 0 11px 0;
}

.overall-numbers{
  display: inline-block;
  margin:30px 0 30px 0;

}

.numbers-list1{
  height:auto;
  padding:20px;
  width: 150px;
  display: block;
  text-align: center;
  float: left;
  position: relative;
  margin-left:10px;
  margin-right:10px;
  border: 0.5px solid black;
  background-color: #ECECEC;
}

.list1{
  font-size: 36px;
  font-weight: bold;
  margin:20px 0 10px 0;
}

/* skills */
.hl1 {
  border-left: 150px solid black;
  opacity: 100%;
  height: 2px;
}

.hl2 {
  border-left: 100px solid black;
  opacity: 100%;
  height: 2px;
}

.hl3 {
  border-left: 80px solid black;
  opacity: 100%;
  height: 2px;
}

.skills-numbers{
  display: inline-block;
  margin:30px 0px 30px 0px;

}

.skills-list1{
  height:auto;
  padding:20px 20px 20px 20px;
  width: 150px;
  display: block;
  text-align: left;
  float: left;
  position: relative;
  margin-left:10px;
  margin-right:10px;
  border: 0.5px solid black;
  line-height: 40px;
}

.skillslist1{
  font-size: 18px;
  font-weight: bold;
  margin:0px 0 10px 0;
}

.skillslist1-description{
  margin:0px 0 0px 0;
}

.skill-subhead{
  font-size:18px;
  margin-bottom:10px;
}


/* portfoliodisplay
*/

.UX-banner{
  width:100%;
  height:auto;
}

/* Viewport */
@media screen and (min-width:360px)and (max-width:540px){

  .sidebar {
    padding-top:20px;
    width:100%;
    position: relative;
    text-align: center;
  }

  .workspace{
    width: 100%;
    margin:0 auto 0 auto;
    text-align: center;
  }

  a.portfoliocard1 {
    margin-bottom:30px;
  }

  .portfoliocards{
    margin:5px 0;
  }

  .overall-numbers{
    width:80%;
    margin:30px auto 30px auto;
  }

  .numbers-list1{
    width:80%;
    margin:0 auto 0 auto;
    position: relative;
    left:20px;
  }

  .overall-numbers{
    width:100%;
  }

  .skills-numbers{
    margin:20px 20% 0 20%;
  }

  .skills-list1{
    margin-top:0;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .hl {
    width:80%;
    margin:0 auto 0 auto;
    height:2px;
    background: black;
    opacity: 10%;
    height: 2px;
  }

  .skill-subhead{
    width: 80%;
    margin:30px auto;

  }

  .skills{
    margin:0px;
  }

  .numbers-list1{
    margin-bottom: 20px;
    background-color: #ECECEC;
  }

  .heading-home{
    padding:50px 0 0px 0;
    width: 100%;
  }

  .vl{
    width:80%;
    position: absolute;
    left:40px;
    top:80px;
    margin:0 auto 0 auto;
    border-top:3px solid black;
    border-left:0px;
  }


  .heading-name{
    line-height: auto;
    width: 80%;
    font-size:12px;
    margin:20px auto 0px auto;
  }

  .experience-history{
    width:80%;
    margin:20px auto 20px auto;
    font-size:24px;
    line height:auto;
    text-align: center;
  }

  .name-head{
    left:0px;
    top:20px;
    width:auto;
    position: relative;
  }

  .contact-listview{
    float:none;
    margin-bottom: 40px;
  }

  .socialmedia-listview{
    float:none;
    margin-bottom: 20px;
  }

  .UX-banner{
    margin-top:30px;
  }

  .button-interaction{
    margin:30px auto 30px auto;
  }

  .figma{
    width:360px;
    height:600px;
    width: 100%;
    margin:0 auto;
  }
  .vl{
    opacity:100%;
  }
}



/* Viewport */
@media screen and (min-width:540px)and (max-width:800px){
  .sidebar {
    padding-top:20px;
    width:100%;
    position: relative;
    text-align: center;
  }
  .workspace{
    width: 100%;
    margin:0 auto 0 auto;
    text-align: center;
  }

  a.portfoliocard1 {
    margin-bottom:30px;
  }

  .portfoliocards{
    margin:5px 0;
  }

  .overall-numbers{
    width:80%;
    margin:30px 10px;
  }

  .numbers-list1{
    width: 50%;
    position: relative;
    left:20%;

  }

  .skills-numbers{
    width:80%;
    margin:0 auto 0 auto;
  }

  .skills-list1{
    width:200px;
    margin:10px;
    position: relative;
    left:30px;
  }



  .hl {
    width:80%;
    margin:0 auto 0 auto;
    height:2px;
    background: black;
    opacity: 10%;
    height: 2px;
  }

  .skill-subhead{
    width: 100%;
    margin:30px auto;

  }

  .skills{
    margin:0px;
  }

  .numbers-list1{
    margin-bottom: 20px;
    background-color: #ECECEC;
  }

  .heading-home{
    padding:50px 0 100px 0;
    width: 100%;
  }

  .heading-name{
    line-height: 40px;
    margin:10px 0;
  }

  .name-head{
    left:0px;
    top:60px;
    width:auto;
    position: relative;
  }

  .UX-banner{
    margin-top:30px;
  }


  .button-interaction{
    margin:30px auto 30px auto;
  }

  .figma{
    width:360px;
    height:600px;
    width: 100%;
    margin:0 auto;
  }


}
